<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <!-- Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select> -->

    </div>
    <div class="col-md-10">
      <!--Body content-->
      <h1>{{data.name}}</h1>
      <h2>{{data.header}}</h2>
      <img ng-src={{data.images[0]}}>
      <p>{{data.description}}</p>
      <p>{{data.ingridients}}</p>
      <p>{{data.nutrition_facts}}</p>
    </div>
  </div>
</div>
